.view-movie-list-container {
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-top: 20px;
}
.view-movie-list-table {
  border-collapse: collapse;
  text-align: center;
}

.view-movie-list-table th,
.view-movie-list-table td {
  border: 1px solid #000;
  padding: 8px;
}
